html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffe500;
  margin: 0;
  padding: 0 0 .4em;
}

h1, h2 {
  font-family: "Sigmar One", cursive;
  color: #cc1465;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

strong {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

nav {
  font-size: 1.125rem;
  text-align: center;
}

.nav {
  padding: 0;
}

.nav li {
  display: inline-block;
}

.nav a {
  display: inline-block;
  color: #fff;
  background-color: #b2a212;
  padding: .2em .5em .3em;
  border-radius: 4px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #cc1465;
}

.nav .current {
  background-color: #b20953;
}

main {
  margin: .3em;
  padding: 0 10px;
}

h2 {
  font-size: 1.875rem;
}

img {
  display: block;
  width: 100%;
}

footer {
  color: #2f2d13;
  background-color: #ffe500;
  text-align: center;
  font-size: .75rem;
  padding: 10px;
}

footer p {
  margin: 0;
}
